{% extends "leagues/base.html" %}
{% block title %}Sports Leagues - Level 2{% endblock %}
{% block content %}
<h1>Level 2</h1>
<hr>
<h3>1. Find all teams in the Atlantic Soccer Conference</h3>
<ol>
	{% for team in atlantic_soccer_league_teams %}
	<li>{{ team.location }} {{ team.team_name }}</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<hr>
<h3>2. Find all (current) players on the Boston Penguins</h3>
<ol>
	{% for x in boston_penguins_players %}
	<li>{{ x.first_name }} {{ x.last_name }}</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<hr>
<h3>3. Players in the International Collegiate Baseball Conference</h3>
<ol>
	{% for x in players_in_international_collegiate_baseball_conference %}
	<li>{{ x.first_name }} {{ x.last_name }} | {{ x.curr_team.team_name }} | {{ x.curr_team.location }}</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<hr>
<h3>4. Players in the American Conference of Amateur Football with last name "Lopez"</h3>
<ol>
	{% for x in players_in_american_conference_amateur_football_with_lastname_lopez %}
	<li>{{ x.first_name }} {{ x.last_name }} | {{ x.curr_team.team_name }} | {{ x.curr_team.location }}</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<hr>
<h3>5. Find all football players</h3>
<ol>
	{% for x in all_football_players %}
	<li>{{ x.first_name }} {{ x.last_name }} | {{ x.curr_team.team_name }} | {{ x.curr_team.location }}</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<hr>
<h3>6. Find all teams with a (current) player named "Sophia"</h3>
<ol>
	{% for x in teams_who_player_is_sophia %}
	<li>{{ x.team_name }} | {{ x.location }}</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<hr>
<h3>7. Find all leagues with a (current) player named "Sophia"</h3>
<ol>
	{% for x in leagues_who_player_is_sophia %}
	<li>{{ x.name }} | {{ x.sport }} </li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<hr>
<h3>8. Find everyone with the last name "Flores" who DOESN'T (currently) play for the Washington Roughriders</h3>
<ol>
	{% for x in players_last_name_flores_except_washington_roughriders %}
	<li>{{ x.first_name }} {{ x.last_name }} | {{ x.curr_team.team_name }} | {{ x.curr_team.location }}</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<hr>
<h3>9. Find all teams, past and present, that Samuel Evans has played with</h3>
<ol>
	{% for x in all_teams_where_samuel_evans_has_played %}
	<li>{{ x.team_name }} | {{ x.location }} </li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<hr>
<h3>10. Find all players, past and present, with the Manitoba Tiger-Cats</h3>
<ol>
	{% for x in all_players_has_played_in_manitoba %}
	<li>{{ x.first_name }} {{ x.last_name }} | {{ x.curr_team.team_name }} | {{ x.curr_team.location }}</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<hr>
<h3>11. Find all players who were formerly (but aren't currently) with the Wichita Vikings</h3>
<ol>
	{% for x in all_pased_players_in_wichita_vikins %}
	<li>{{ x.first_name }} {{ x.last_name }} | {{ x.curr_team.team_name }} | {{ x.curr_team.location }}</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<hr>
<h3>12. Find every team that Jacob Gray played for before he joined the Oregon Colts</h3>
<ol>
	{% for x in all_teams_where_jacob_gray_played_before_join_oregon_colts %}
	<li>{{ x.team_name }} | {{ x.location }} </li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<hr>
<h3>13. Find everyone named "Joshua" who has ever played in the Atlantic Federation of Amateur Baseball Players</h3>
<ol>
	{% for x in all_players_named_joshua_played_in_atlan_feder_amateur_baseball %}
	<li>{{ x.first_name }} {{ x.last_name }} | {{ x.curr_team.team_name }} | {{ x.curr_team.location }}</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<hr>
<h3>14. Find all teams that have had 12 or more players, past and present</h3>
<ol>
	{% for x in all_teams_have_had_12_or_more_players_past_present %}
	<li>{{ x.team_name }} | {{ x.location }} | ({{ x.all_players.count }})</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<hr>
<h3>15. Show all players, sorted by the number of teams they've played for</h3>
<ol>
	{% for x in all_players_sorted_by_the_number_of_teams_have_played %}
	<li>{{ x.first_name }} {{ x.last_name }} | {{ x.curr_team.team_name }} | {{ x.curr_team.location }}  ({{ x.all_teams.count }})</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<hr>

{% endblock %}
